<template>
  <div class="vx-row">
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 mb-base custom">
      <vx-card class="p-2">
        <div class="text-center">
          <h4>Your Photo</h4>
        </div>
        <!-- <vs-avatar
          v-if="!photo || photo == ''"
          class="mx-auto my-6 block"
          size="100px"
          src="https://s3.amazonaws.com/37assets/svn/765-default-avatar.png"
        />
        <vs-avatar v-else class="mx-auto my-6 block" size="100px" :src="this.photo" />-->
        <div class="mt-2">
          <viewer :toolbar="false">
            <img
              v-if="photo"
              :src="photo"
              alt="content-img"
              class="responsive rounded-lg ukuran mx-auto my-6 block"
            />
            <img
              v-else
              src="https://s3.amazonaws.com/37assets/svn/765-default-avatar.png"
              alt="content-img"
              class="responsive rounded-lg ukuran mx-auto my-6 block"
            />
          </viewer>

          <input
            type="file"
            class="hidden"
            ref="update_avatar_input1"
            @change="update_avatarKTP"
            accept="image/*"
          />
          <div class="flex justify-center">
            <vs-button
              type="gradient"
              class="mr-3"
              color="#7367F0"
              gradient-color-secondary="#CE9FFC"
              @click="$refs.update_avatar_input1.click()"
            >Change Photo</vs-button>
            <vs-button
              color="success"
              type="gradient"
              gradient-color-secondary="#CE9FFC"
              @click="absen"
            >Absen</vs-button>
          </div>
        </div>
      </vx-card>
    </div>
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 mb-base">
      <vx-card class="p-2">
        <div class="text-center">
          <h4>Your Location</h4>
        </div>
        <div class="mt-2">
          <gmap-map
            :center="center"
            ref="mapRef"
            :position="google"
            :zoom="18"
            style="width: 100%; height: 500px"
          >
            <gmap-info-window
              :options="infoOptions"
              :position="infoWindowPos"
              :opened="infoWinOpen"
              @closeclick="infoWinOpen=false"
            >
              <!-- {{infoContent + " " | formatDate(Start)}} -->
              <!-- {{infoContent | formatDate}} -->
            </gmap-info-window>
            <gmap-marker
              :key="i"
              v-for="(m,i) in markers"
              :position="m.position"
              :clickable="true"
              :draggable="false"
              @click="toggleInfoWindow(m,i)"
              :icon="m.icon"
            ></gmap-marker>
            <!-- <GmapPolyline v-if="path.length > 0" :path="path" :editable="false" ref="polyline"></GmapPolyline> -->
          </gmap-map>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { gmapApi } from 'vue2-google-maps'

export default {
  data() {
    return {
      location: null,
      lat1: null,
      lng1: null,
      gettingLocation: false,
      errorStr: null,
      photo: "",
      submitted: false,
      center: {},
      // center: { lat: -6.315211, lng: 106.67632 },
      infoContent: "",
      infoWindowPos: null,
      infoWinOpen: false,
      //optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: { width: 0, height: -35 }
      },
      markers: [
        {
          // position: { lat: -6.315211, lng: 106.67632 },
          infoText: "Your",
          //   icon: gambar1
        },
        // {
        //   position: { lat: -6.294548, lng: 106.666249 },
        //   infoText: "Finish :" + new Date().toLocaleString(),
        //   //   icon: gambar2
        // }
      ],
      path: [
        // {
        //   lat: -6.315003,
        //   lng: 106.676188
        // },
        // { lat: -6.315211, lng: 106.67632 },
        // { lat: -6.314685, lng: 106.677152 },
        // { lat: -6.308236, lng: 106.673205 },
        // { lat: -6.306833, lng: 106.671569 },
        // { lat: -6.30521, lng: 106.669634 },
        // { lat: -6.304334, lng: 106.668917 },
        // { lat: -6.30321, lng: 106.668574 },
        // { lat: -6.301358, lng: 106.668121 },
        // { lat: -6.299366, lng: 106.667691 },
        // { lat: -6.297507, lng: 106.666871 },
        // { lat: -6.295747, lng: 106.666409 },
        // { lat: -6.295041, lng: 106.666321 },
        // { lat: -6.294548, lng: 106.666249 }
      ]

    };
  },
  computed: {
    google: gmapApi
  },
  created() {

    // do we support geolocation
    if (!("geolocation" in navigator)) {
      this.errorStr = 'Geolocation is not available.';
      return;
    }

    this.gettingLocation = true;

    // get position
    navigator.geolocation.getCurrentPosition(position1 => {
      let lat = {
        lat: position1.coords.latitude
      };

      let lng = {
        lng: position1.coords.longitude
      };

      let pos = {
        lat: position1.coords.latitude,
        lng: position1.coords.longitude
      };

      this.$refs.mapRef.$mapPromise.then((map) => {
        map.panTo({ lat: lat.lat, lng: lng.lng })
      })

      console.log(lat.lat)

      this.lat1 = lat.lat
      this.lng1 = lng.lng

      this.gettingLocation = false;
      this.location = pos;
      this.center = this.location;
      this.markers[0].position = this.location
    }, err => {
      this.gettingLocation = false;
      this.errorStr = err.message;
    })

  },

  methods: {
    jikaSuccess() {
      this.$vs.notify({
        title: "Pemberitahuan",
        text: "Berhasil Absen!!",
        iconPack: "feather",
        icon: "icon-success",
        color: "success",
        position: "top-right"
      });
    },
    jikaFailed() {
      this.$vs.notify({
        title: "Pemberitahuan",
        text: "Gagal Absen",
        iconPack: "feather",
        icon: "icon-x",
        color: "danger",
        position: "top-right"
      });
    },
    toggleInfoWindow: function (marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoContent = marker.infoText;
      // Jika Tanda ada yang sama maka beralih ke yang baru
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      // jika marker berbeda maka mengatur infowindow dan mereset index marker saat ini
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },
    update_avatarKTP(input) {
      if (input.target.files && input.target.files[0]) {
        var reader = new FileReader();
        reader.onload = e => {
          this.photo = e.target.result;
        };
        reader.readAsDataURL(input.target.files[0]);
      }
    },
    absen() {
      console.log(this.photo)
      //   console.log(this.location);
      console.log(this.lat1)
      console.log(this.lng1)
      // this.geolocation();
    }
  }
};
</script>
<style scoped>
.ukuran {
  height: 250px;
  width: 250px;
}
</style>
