<template>
  <svg height="100%" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m320 307h-128l-80.769 20.513a60 60 0 0 0 -45.231 58.154v116.333h380v-116.333a60 60 0 0 0 -45.231-58.154z"
      fill="#edeff1"
    />
    <path
      d="m208.747 407 47.334-45.08 48.389 45.014 25.398-97.428-9.868-2.506h-128l-9.862 2.505z"
      fill="#d3d3d3"
    />
    <path
      d="m374.5 456.5v-135.659l-54.5-13.841v96l-64 58-64-58v-96l-54.5 13.841v135.659l-5.5 5.5v40h124 124v-40z"
      fill="#6e83b7"
    />
    <path d="m300 267.188v25l-44 56-44-56v-25z" fill="#ffd3b3" />
    <path
      d="m212 285.188c13.5 5.851 28.376 9.812 44 9.812s30.5-3.961 44-9.812v-18h-88z"
      fill="#fcb98b"
    />
    <path d="m347 90v98.188a91 91 0 0 1 -91 91 91 91 0 0 1 -91-91v-98.188z" fill="#ffd3b3" />
    <path
      d="m310.364 90.364s-8.273 46.091-126.455 46.091l-18.909 43.727v-99.272a70.909 70.909 0 0 1 70.91-70.91h43.726a30.727 30.727 0 0 1 30.728 30.727z"
      fill="#6e83b7"
    />
    <path
      d="m310.364 90.364s-2.364 35.454 24.818 46.091l11.818 43.727v-102.818a36.637 36.637 0 0 0 -36.636-36.637z"
      fill="#6e83b7"
    />
    <path
      d="m141 126h14a10 10 0 0 1 10 10v29a10 10 0 0 1 -10 10h-14a0 0 0 0 1 0 0v-49a0 0 0 0 1 0 0z"
      fill="#ffd3b3"
      transform="matrix(-1 0 0 -1 306 301)"
    />
    <path
      d="m347 126h14a10 10 0 0 1 10 10v29a10 10 0 0 1 -10 10h-14a0 0 0 0 1 0 0v-49a0 0 0 0 1 0 0z"
      fill="#ffd3b3"
    />
    <path d="m212 292.188-20 14.812 22 81.188 42-40z" fill="#edeff1" />
    <path d="m300 292.188 20 14.812-22 81.188-42-40z" fill="#edeff1" />
    <path d="m122 462h10v40h-10z" fill="#d3d3d3" />
    <path d="m380 462h10v40h-10z" fill="#d3d3d3" />
    <path d="m256 461-5-4.531v45.531h5 5v-45.531z" fill="#466089" />
    <path d="m281 459h80v20h-80z" fill="#ffe352" />
    <path d="m256 404h10l17.334-29.78-27.334-26.032-27.334 26.032 17.334 29.78z" fill="#80d6fb" />
    <path
      d="m228.666 374.22 5.171 8.885 22.244-21.185 22.324 20.768 4.929-8.468-27.334-26.032z"
      fill="#46bee8"
    />
    <path d="m256 461 20.993-19.025-10.993-37.975h-20l-10.993 37.975z" fill="#80d6fb" />
  </svg>
</template>
